<ion-header>
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>
 <ion-content>
<ion-card>
  <ion-card-subtitle>Our Mission</ion-card-subtitle>
  <ion-card-content>
  Our team of highly skilled, experienced and motivated professionals are committed towards harnessing technology for providing the best solutions to our customers. 
  Our corporate goal is to provide the best products and services to our customers and build strong and long-term relationship with them.To meet various IT.
  </ion-card-content>
  <ion-img src="/assets/bhilwara7.jpg"></ion-img>
</ion-card>
</ion-content>