// ion-content img{
//     margin-left:75px;
// }

ion-title{
    background-color:  grey;
  }
  .one{
    margin-left: 10px;
    margin-top: 10px;
    color:  blue;
} 

// ion-content p{
//     margin-left:75px;
// }

// .one{
//   border-radius:1px;
//    height:130px;
//    width:170px; 
// //    margin-left: 85px;
// //    margin-right: -20px;
// margin: auto auto;
// }
