<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src='../../assets/avatar.jpg'>
<p>Phone no: 09078976532</p>
<!-- <div class="container">  
  <form id="contact" action="" method="post">
    <h3>Quick Contact</h3>
    <h4>Contact us today, and get reply with in 24 hours!</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Web Site starts with http://" type="url" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
 
</div> -->
<ion-item>
  <ion-label position="floating">Your Name:</ion-label>
    <ion-input placeholder="Name"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Your Email Address :</ion-label>
    <ion-input placeholder="Email"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Your Phone Number :</ion-label>
    <ion-input placeholder="Phone"></ion-input>
    <ion-item>
      <ion-textarea placeholder=" Type your message here..."></ion-textarea>
    </ion-item>
</ion-item>
<ion-button expand="full">Submit</ion-button>
</ion-content>
