.welcome-card ion-img {
  // max-height: 35vh;
  // height:270px;
  // width:250px;
  overflow: hidden;
  align-items:center;
  margin-left: 60px;
  width:200px;
}
.welcome-card ion-card-header ion-card-title{
color:grey;
font-style: italic;
}
.welcome-card ion-card-header ion-card-subtitle{
  color: grey;
  font-style: italic;
}

ion-title{
  background-color: grey;
}


.one{

  height: 200px;
  position: absolute;
  margin-left:70px;
  width: 200px;
}
.welcome-card{
  background-color: aquamarine;
  height:550px;
  width:350px;
}