<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
<ion-img src="/assets/bhilwara3.png"></ion-img>
<p>Take a minute to submit your feedback <a href="https://docs.google.com/forms/d/1PZ39IPTWpvCRcR7Nfgt5yguKNC06oBpNX8Tyyo668Os/edit">here</a></p>
</ion-card>
</ion-content> -->
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Project1</ion-card-subtitle>
    <ion-card-title>Bhilwara</ion-card-title>
    <ion-img src="/assets/bhilwara3.png"></ion-img>
  </ion-card-header>
<ion-card-content>
     We are here to help you!
  </ion-card-content>
</ion-card>



<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Project2</ion-card-subtitle>
    <ion-card-title>Bhilwara2</ion-card-title>
    <ion-img src="/assets/bhilwara3.png"></ion-img>
  </ion-card-header>
<ion-card-content>
     We are here to help you!
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Project3</ion-card-subtitle>
    <ion-card-title>Bhilwara3</ion-card-title>
    
  </ion-card-header>
<ion-card-content>
     We are here to help you! This is a good place to start.We provide training on various technologis in demand today.
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Project4</ion-card-subtitle>
    <ion-card-title>Bhilwara4</ion-card-title>
   
  </ion-card-header>
<ion-card-content>
     We are here to help you!
  </ion-card-content>
</ion-card>

