// ion-title{
//     background-color:  grey;
//   }
// ion-content {
//     background-color: bisque;
// }
// .one{
// height:100px;
// width:100px;

// }
ion-title{
    background-color:  grey;
  }
  .one{
      margin-left: 10px;
      margin-top: 10px;
      color:  blue;
  }